{% extends 'base.html' %}

{% block title %}
    假条列表
{% endblock %}

{% block lable %}
    假条列表
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <tr>
            <th>请假人姓名</th>
            <th>请假类型</th>
            <th>请假事由</th>
            <th>请假开始时间</th>
            <th>请假结束时间</th>
            <th>请假人联系方式</th>
            <th>状态</th>
        </tr>
        {#        循环后端传来的数据#}
        {% for a in page_data %}
            <tr>
                <td>{{ a.person_name }}</td>
                <td>{{ a.leave_type }}</td>
                <td>{{ a.leave_description }}</td>
                <td>{{ a.leave_start_time }}</td>
                <td>{{ a.leave_end_time }}</td>
                <td>{{ a.person_phone }}</td>
                <td>
                    {% if a.leave_status == 0 %}
                        申请
                    {% elif a.leave_status == 1 %}
                        批准
                    {% elif a.leave_status == 2 %}
                        驳回
                    {% else %}
                        销假
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {#    页码设置#}
    <ul class="pagination" style="float: right">
        {% if not paginator.is_start %}
            <li class="paginate_button page-item ">
                <a class="page-link" href="/leave_list/{{ paginator.previous_page }}">上一页</a>
            </li>
        {% endif %}

        {% for p in paginator.page_range %}
            {% if p == page %}
                <li class="paginate_button page-item active">
                    <a class="page-link" href="/leave_list/{{ p }}">{{ p }}</a>
                </li>
            {% else %}
                <li class="paginate_button page-item">
                    <a class="page-link" href="/leave_list/{{ p }}">{{ p }}</a>
                </li>
            {% endif %}

        {% endfor %}
        {% if not paginator.is_end %}
            <li class="paginate_button page-item ">
                <a class="page-link" href="/leave_list/{{ paginator.next_page }}">下一页</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}